<a href="https://colab.research.google.com/github/yash48git/Finance/blob/main/Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Introduction to Pandas

Pandas is a fast, powerful, flexible, and easy-to-use open-source data analysis and manipulation tool, built on top of the Python programming language.

Its two primary data structures are:
*   **Series**: A one-dimensional labeled array capable of holding any data type.
*   **DataFrame**: A two-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or a SQL table.

In [2]:
import pandas as pd

# Creating a Series
s = pd.Series([1, 3, 5, 6, 8])
print("Series:\n", s)

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

Series:
 0    1
1    3
2    5
3    6
4    8
dtype: int64

DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

### 2. Loading Data

One of the most common tasks is loading data from various sources into a DataFrame. CSV and Excel files are very common.

In [ ]:
# Create a dummy CSV file for demonstration
df.to_csv('sample_data.csv', index=False)

# Loading a CSV file
df_csv = pd.read_csv('sample_data.csv')
print("\nLoaded from CSV:\n", df_csv)

# Loading an Excel file (requires openpyxl installed: pip install openpyxl)
# df.to_excel('sample_data.xlsx', index=False)
# df_excel = pd.read_excel('sample_data.xlsx')
# print("\nLoaded from Excel:\n", df_excel)

### 3. Viewing and Inspecting Data

After loading, you'll want to get a quick overview of your data.

In [ ]:
# Display the first 5 rows
print("\nHead (first 5 rows):\n", df.head())

# Display the last 3 rows
print("\nTail (last 3 rows):\n", df.tail(3))

# Get a concise summary of the DataFrame (data types, non-null values)
print("\nInfo:\n")
df.info()

# Get descriptive statistics for numerical columns
print("\nDescribe (numerical columns):\n", df.describe())

# Get the shape (rows, columns)
print("\nShape (rows, columns):", df.shape)

# Get column names
print("\nColumns:", df.columns)

### 4. Selection and Indexing

Accessing specific columns or rows is fundamental.

In [ ]:
# Select a single column
print("\nSingle Column 'Age':\n", df['Age'])

# Select multiple columns
print("\nMultiple Columns 'Name' and 'City':\n", df[['Name', 'City']])

# Select rows by label using .loc[] (label-based indexing)
print("\nRow with label 1 using .loc:\n", df.loc[1])

# Select a slice of rows by label
print("\nRows with labels 0 to 2 using .loc:\n", df.loc[0:2])

# Select rows and columns by label
print("\nRows 0 to 1, Columns 'Name' and 'Age' using .loc:\n", df.loc[0:1, ['Name', 'Age']])

# Select rows by integer position using .iloc[] (integer-location based indexing)
print("\nRow at integer position 2 using .iloc:\n", df.iloc[2])

# Select a slice of rows by integer position
print("\nRows at integer positions 0 to 2 using .iloc:\n", df.iloc[0:3])

# Select rows and columns by integer position
print("\nRows 0 to 1, Columns 0 to 1 using .iloc:\n", df.iloc[0:2, 0:2])

### 5. Filtering Data

Filtering allows you to select rows based on specific conditions.

In [ ]:
# Filter rows where 'Age' is greater than 30
print("\nPeople older than 30:\n", df[df['Age'] > 30])

# Filter with multiple conditions (use & for AND, | for OR)
print("\nPeople older than 30 AND living in Chicago:\n", df[(df['Age'] > 30) & (df['City'] == 'Chicago')])

# Filter using .isin()
print("\nPeople living in New York or Houston:\n", df[df['City'].isin(['New York', 'Houston'])])

### 6. Handling Missing Values

Missing data (NaN) is a common issue. Pandas provides tools to deal with it.

In [3]:
import numpy as np

df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [10, 20, 30, 40]
})
print("\nDataFrame with missing values:\n", df_missing)

# Check for missing values
print("\nMissing values (boolean):\n", df_missing.isnull())
print("\nMissing values count per column:\n", df_missing.isnull().sum())

# Drop rows with any missing values
print("\nDataFrame after dropping rows with NaN:\n", df_missing.dropna())

# Fill missing values with a specific value (e.g., 0)
print("\nDataFrame after filling NaN with 0:\n", df_missing.fillna(0))

# Fill missing values with the mean of the column
print("\nDataFrame after filling NaN in 'A' with its mean:\n", df_missing['A'].fillna(df_missing['A'].mean()))

# Forward fill (propagate last valid observation forward to next valid)
print("\nDataFrame after forward fill:\n", df_missing.fillna(method='ffill'))

# Backward fill (propagate next valid observation backward to next valid)
print("\nDataFrame after backward fill:\n", df_missing.fillna(method='bfill'))

DataFrame with missing values:
      A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

Missing values (boolean):
        A      B      C
0  False  False  False
1  False   True  False
2   True   True  False
3  False  False  False

Missing values count per column:
 A    1
B    2
C    0
dtype: int64

DataFrame after dropping rows with NaN:
      A    B   C
0  1.0  5.0  10
3  4.0  8.0  40

DataFrame after filling NaN with 0:
      A    B   C
0  1.0  5.0  10
1  2.0  0.0  20
2  0.0  0.0  30
3  4.0  8.0  40

DataFrame after filling NaN in 'A' with its mean:
 0    1.000000
1    2.000000
2    2.333333
3    4.000000
Name: A, dtype: float64

DataFrame after forward fill:
      A    B   C
0  1.0  5.0  10
1  2.0  5.0  20
2  2.0  5.0  30
3  4.0  8.0  40

DataFrame after backward fill:
      A    B   C
0  1.0  5.0  10
1  2.0  8.0  20
2  4.0  8.0  30
3  4.0  8.0  40

/tmp/ipython-input-1329743061.py:24: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print("\nDataFrame after forward fill:\n", df_missing.fillna(method='ffill'))
/tmp/ipython-input-1329743061.py:27: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print("\nDataFrame after backward fill:\n", df_missing.fillna(method='bfill'))

### 7. Data Manipulation (Groupby, Merge, Apply)

These are powerful operations for transforming your data.

In [ ]:
data_sales = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'A'],
    'Region': ['East', 'West', 'East', 'East', 'West', 'Central'],
    'Sales': [100, 150, 120, 90, 200, 110]
}
df_sales = pd.DataFrame(data_sales)
print("\nSales DataFrame:\n", df_sales)

# Group by 'Product' and sum 'Sales'
print("\nSales by Product:\n", df_sales.groupby('Product')['Sales'].sum())

# Group by multiple columns
print("\nSales by Product and Region:\n", df_sales.groupby(['Product', 'Region'])['Sales'].mean())

# Merge two DataFrames (like SQL JOIN)
df_customers = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'CustomerID': [1, 2, 3, 4]
})
df_orders = pd.DataFrame({
    'CustomerID': [1, 2, 1, 3],
    'OrderAmount': [50, 75, 60, 120]
})

merged_df = pd.merge(df_customers, df_orders, on='CustomerID', how='inner')
print("\nMerged DataFrame (customers and orders):\n", merged_df)

# Apply a function to a column
df['Age_Category'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Adult')
print("\nDataFrame with new 'Age_Category' column:\n", df)

### 8. Basic Data Cleaning (Data Type Conversion)

Ensuring columns have the correct data type is crucial for analysis.

In [ ]:
df_types = pd.DataFrame({
    'A': ['1', '2', '3'],
    'B': ['4.5', '5.5', '6.5'],
    'C': ['True', 'False', 'True']
})
print("\nOriginal Data Types:\n", df_types.dtypes)

# Convert 'A' to integer
df_types['A'] = df_types['A'].astype(int)

# Convert 'B' to float
df_types['B'] = pd.to_numeric(df_types['B'])

# Convert 'C' to boolean
df_types['C'] = df_types['C'].astype(bool)

print("\nNew Data Types after conversion:\n", df_types.dtypes)

# Convert a string column to datetime (common for date columns)
# df_dates = pd.DataFrame({'DateString': ['2023-01-01', '2023-01-02']})
# df_dates['Date'] = pd.to_datetime(df_dates['DateString'])
# print("\nDates DataFrame with datetime column:\n", df_dates.dtypes)

### 9. Saving Data

After your analysis or transformations, you'll often want to save your results.

In [ ]:
# Save to CSV
df.to_csv('output_data.csv', index=False)
print("\nDataFrame saved to 'output_data.csv'")

# Save to Excel
# df.to_excel('output_data.xlsx', index=False)
# print("\nDataFrame saved to 'output_data.xlsx'")

# You can also save to other formats like JSON, SQL databases, etc.

These examples cover a significant portion of what you'll typically do with Pandas. Practice them often, and don't hesitate to refer to the official Pandas documentation for more in-depth information!